@{
    ViewBag.Title = "About";
    //List<Business.Company> companys = ViewBag.Companys;
}

<div>
    <h1>Empresas</h1>
    @*<ul>
        @foreach (var company in companys)
        {
            <li>@company.NomeFantasia</li>
        }
    </ul>*@
</div>

