<div class="jumbotron">
    <h2>MVC - CRUD</h2>
    <p class="lead">Este é um pequeno projeto MVC em .Net Framework C# para desafio técnico.</p>
    <div>
        <a href="/empresas" class="btn btn-primary">Ir para lista de Empresas</a>
    </div>
</div>